<div class="jumbotron text-center">
  <h1>Bienvenue sur User Voice</h1>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3">
     
    </div>
    <div class="col-sm-6 form-group">
      <form [formGroup]="formulaireLogin">
       <input type ="text" class="form-control" placeholder="Pseudo" formControlName="pseudo"/>
        <button class="btn btn-primary" type="submit" (click)="clicSurBouton()">Se connecter</button>
      </form>
    </div>
    <div class="col-sm-3">
      
    </div>
  </div>
</div>