<table class="table ">
  <thead class="table-striped table-dark">
    <tr>
       <th scope="col">id</th>
      <th scope="col">Auteur</th>
      <th scope="col">Message</th>
      <th scope="col">Vote+</th>
      <th scope="col">Vote-</th>
      <th scope="col">Note</th>
      <th scope="col">Supprimer</th>
    </tr>
    <ng-container *ngFor="let message of messages">
         <tr>
           <td>{{message.id}}</td>
           <td>{{message.auteur}}</td>
           <td>{{message.message}}</td>
           <td><button (click)="addNote(message)">👍</button></td>
           <td><button (click)="minNote(message)">👎</button></td>
           <td>{{message.note}}</td>
           <td><button (click)="supprimer(message)">❌</button></td>
           </tr>
       
     </ng-container>
  </thead>
  
</table>